body {
    margin: 0;
    padding: 0;
}

.section {
    height: 920px;
    width: 100%;
}

.landing-page {
    background-color: #201a53;
}

.about-page {
    background-color: #bb420e;
}

.product-page {
    background-color: #fc9d45;
}

.contact-page {
    background-color: #fcbd44;
}













/* Colour Codes
dark blue: #201a53
purple: #510877
dark orange: #bb420e
orange: #e95e24
pastel orange: #fd7f42
light orange: #fc9d45
yellow: #fcbd44 */