body {
    margin: 0;
    padding: 0;
}


/* LANDING PAGE STYLE */

.landing-page {
    width: 100%;
    height: auto;
}

#landing-vid-bg {
    width: 100%;
}


/* INFO HYPER LINKS STYLE */

.info-hyper-links {
    background-color: #182127;
    width: 100%;
    height: 100px;
}









/* Website Colour Palette:

*/

/* Logo Colour Palette:
dark blue: #201a53
purple: #510877
dark orange: #bb420e
orange: #e95e24
pastel orange: #fd7f42
light orange: #fc9d45
yellow: #fcbd44
*/